################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarInsurance/CarInsurance.sln
/AmericaWalks/.vs/AmericaWalks/FileContentIndex/ba1344a8-6449-4286-ba14-881bbc396001.vsidx
/.gitignore
