@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="">Welcome</h1>
    <p>A site where you can collect some of the greatest quotes stated by some of the most well known and not so well known people of the world.</p>
</div>