@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="">Welcome</h1>
    <p class="deco">
        A site where you can collect some of the greatest quotes made by some of the most well known and not so well known people of the world.
    </p>

    <div class="example">
        <img src="https://images.news18.com/ibnlive/uploads/2021/04/1618728765_einstein.jpg" alt="Albert Einstein" />
        <div class="fadedbox">
            <q>Everything should be made simple as possible, but not simpler.</q>
        </div>
    </div>