@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-6" style="color: white; text-align: left;">Search for books now!</h6>
    <style>
        body {
            background-image: url('https://wallpapercrafter.com/desktop/207086-reading-book-study-and-note-hd.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</div>