@{
    ViewData["Title"] = "Home Page";
}

<div class="slide-container" >
    <div class="row" >
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" >
            <div id="carouselExampleCaptions" class="carousel slide shadow rounded-3" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/imagesOfCarousel/SA_Vetkoek.jpg" class="d-block w-100 h-100" alt="Recipes">
                        <div class="carousel-caption d-none d-md-block">
                            <p>These small appetizer sandwhiches have a hardy taste from a SA traditional recipe.</p>
                            <h5>Vetkoek</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/imagesOfCarousel/SA_Boerewors.jpg" class="d-block w-100 h-100" alt="Recipes">
                        <div class="carousel-caption d-none d-md-block">
                            <p>South African-style sausages that encompass garde A meats and some of the finest herps and spices!</p>
                            <h5>Boerewors</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/imagesOfCarousel/SA_Mealie.jpg" class="d-block w-100 h-100" alt="Recipes">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Mealie is a delicious soup that leaves you feeling warm inside.</p>
                            <h5>Mealie</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" >
            <div class="mb-3" >
                <h2>Get Authentic Food From The Best Restaurant In Cape Town!</h2>
            </div>
            <div class="mb-3 p-3" >
                <span class="fs-5 text-dark" >Fresh Food</span>
            </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark">Healthy Meals</span>
            </div>
            <div class="mb-3 p-3">
                <span class="fs-5 text-dark">Fast Delivery</span>
                <p class="py-2" >We are committed to delivering your order in the time given adn ensuring that it's ready to serve.</p>
            </div>
        </div>
    </div>
</div>
