@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Start here to create a list</h1>

    <label>What's your first item of choice?</label><br>
    <input type="text" placeholder="New Item" />
    <input type="submit" class="btn btn-success" value="Confirm">
</div>